.charSelectPage{
    border: solid rebeccapurple;
}
.firstContainer{
    /* border: solid brown; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.charPreview{
    border: solid black;
    height: 380px;
    /* width: 680px; */
    width: 690px;
}
.secondContainer{
    /* border: solid orange; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.textbox{
    border: solid green;
    /* margin: 1em; */
    width: 940px;
    height: 70px;
    
}

.classOptions{
    border: solid black;
    width: 250px;
}
.charClass{
    /* border: solid black; */
    text-align: center;
    margin: 2px ;
    height: 30px;
    cursor: pointer;
    display: flex;
    display: flex;
    align-items: center;
}
.classform{
    display: flex;
    border: solid orange;
    width: 100%;
    align-items: center;
}
.name{
    display: flex;
    padding: 1px;
    width: 100%;
}
.myClass{
    text-align: left;
    padding: 1px;
    font-size: 20px;
}