.charSelectPage{
    /* border: solid rebeccapurple; */
}
.firstContainer{
    /* border: solid brown; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.charPreview{
    border: solid #00548C;
    height: 380px;
    width: 690px;
    background-color: #3A6D90;
}
.secondContainer{
    /* border: solid orange; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.textbox{
    border: solid green;
    width: 945px;
    height: 70px;
    
}

.classOptions{
    border:solid #00548C;
    width: 250px;
    background-color: #3A6D90;
}
.charClass{
    /* border: solid black; */
    text-align: center;
    margin: 2px ;
    height: 30px;
    cursor: pointer;
    display: flex;
    display: flex;
    align-items: center;
}
.classform{
    display: flex;
    border: solid orange;
    width: 100%;
    align-items: center;
}
.name{
    display: flex;
    padding: 1px;
    width: 100%;
}
.myClass{
    text-align: left;
    padding: 1px;
    font-size: 20px;
}
.intructions{
    /* border: solid pink; */
    margin: 5px;
    color: black;
    text-align: left;
    font-size: 15px;
}
.highlight{
    color: orange;
    font-style: italic;
}

/* charPreview */
.playerBox{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    border: solid #0043FF;
    background-color: #88ACCC;

}
.statsContainer{
    display: flex;
    justify-content: center;
}
.imagesList{
    display: flex;
    height: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.charIcons{
    border: solid #7678ED;
    height: 120px;
    width: 120px;
    margin: 5px;
    background-color: #3D348B;
}
.charIcons:hover{
    cursor: pointer;
    border: solid #00548C;
    background-color:#0043FF;
}
.charIcons img{
    height: 100%;
    width: 100%;
    object-fit: fit;
}
