.gamepage{
    background-image: url('https://i.pinimg.com/originals/1d/a4/cd/1da4cd1771b784d6829729fb56ae9b88.gif');
    background-size: cover;
}
.playerStats{
    /* border: solid pink; */
    height:100px;
    width: 300px;
}
.enemiesStats{
    /* border: solid pink; */
    height:100px;
    width: 300px;
}


/*Game Screen  */
.screen {
    width: 980px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    background-image: url('https://i.pinimg.com/originals/1d/a4/cd/1da4cd1771b784d6829729fb56ae9b88.gif');
    background-size: cover;
}
.screenDisplay{
    /* border: solid green; */
    width: inherit;
    height: 90%;
  background-color: rgba(250, 235, 215, 0.745);
  border-radius: 10px;

}
.actions{
    /* border: solid pink; */
    display: flex;
    width: inherit;
    height:8% ;

}
.actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00548C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Home Component  */
.home{
    border: solid orange;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #88accc6e;

}
.btn{
    border: solid black;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/* store component  */
.store {
    border: 2px solid black;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.window{
    border: solid black;
    width: 50%;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.itemName{
    border: solid green;
    width: 300px;
}
.amount{
    border: solid green ;
    display: flex;
    justify-content: center;
    width: 100px;
}


/* Stat box  */

.statsContainer {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    height: 150px;
    /* background-color: #f0f0f0; */
    padding: 10px;
}

.statsBox {
    border: 2px solid hsl(39, 100%, 50%);
    height: 100%;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    color: #333;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.icon {
    width: 30%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.money {
    font-size: 14px;
    color: #333;
    text-align: center;
}
